In [21]:

import pandas as pd

In [27]:
cardio_info_to_load = "C:\\Users\pampe\Desktop\Final_project_group7\cardio_train.csv"

In [28]:
cardio_data_df = pd.read_csv(cardio_info_to_load )
cardio_data_df.head()

,id,age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [29]:
cardio_data_df.count()

id              70000
age             70000
gender          70000
height          70000
weight          70000
systolic_bp     70000
diastolic_bp    70000
cholesterol     70000
glucose         70000
smoker          70000
alcohol         70000
active          70000
cardio          70000
dtype: int64

In [30]:
cardio_data_df.dtypes

id                int64
age               int64
gender            int64
height            int64
weight          float64
systolic_bp       int64
diastolic_bp      int64
cholesterol       int64
glucose           int64
smoker            int64
alcohol           int64
active            int64
cardio            int64
dtype: object