In [9]:
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine
from config import password
from sqlalchemy import inspect

In [10]:
from sqlalchemy import create_engine
db_string = f"postgresql://postgres:{password}@localhost:5432/Be_Heart_Smart"
engine = create_engine(db_string)

In [12]:
con = engine.connect()

In [13]:
cardio_df = pd.read_sql("Select * From Cardio_info_initial_clean", con)

In [14]:
cardio_df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,42515.0,23232.0,1.0,140.0,60.0,130.0,80.0,1.0,1.0,0.0,0.0,1.0,0.0
1,85626.0,14472.0,1.0,140.0,60.0,110.0,70.0,1.0,1.0,0.0,0.0,1.0,0.0
2,49793.0,17535.0,1.0,140.0,62.0,120.0,80.0,1.0,1.0,0.0,0.0,1.0,1.0
3,60954.0,15941.0,1.0,140.0,64.0,120.0,80.0,1.0,1.0,0.0,0.0,1.0,0.0
4,1456.0,14722.0,1.0,140.0,68.0,100.0,70.0,1.0,1.0,0.0,0.0,0.0,0.0

In [11]:
# Read the data to a dataframe

cardio_df = pd.read_csv("cardio_data_cleaned.csv")
  
cardio_df.head()

,Age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio
0,51,1,171,29.0,110.0,70.0,2,1,0,0,1,1
1,49,1,160,30.0,120.0,80.0,1,1,0,0,1,1
2,58,1,143,30.0,103.0,61.0,2,1,0,0,1,0
3,47,2,170,31.0,150.0,90.0,2,2,0,0,1,1
4,42,1,146,32.0,100.0,70.0,1,1,0,0,0,0

In [4]:
# One-hot encode the data using pd.get_dummies
cardio_df = pd.get_dummies(cardio_df, columns =["gender", "cholesterol","glucose"])
cardio_df.head()

,Age,height,weight,systolic_bp,diastolic_bp,smoker,alcohol_intake,active,cardio,gender_1,gender_2,cholesterol_1,cholesterol_2,cholesterol_3,glucose_1,glucose_2,glucose_3
0,51,171,29.0,110.0,70.0,0,0,1,1,1,0,0,1,0,1,0,0
1,49,160,30.0,120.0,80.0,0,0,1,1,1,0,1,0,0,1,0,0
2,58,143,30.0,103.0,61.0,0,0,1,0,1,0,0,1,0,1,0,0
3,47,170,31.0,150.0,90.0,0,0,1,1,0,1,0,1,0,0,1,0
4,42,146,32.0,100.0,70.0,0,0,0,0,1,0,1,0,0,1,0,0

In [5]:
column_names = ["Age","gender_1","gender_2","height","weight","systolic_bp","diastolic_bp",
                "smoker","alcohol_intake","active","cholesterol_1","cholesterol_2",
                "cholesterol_3","glucose_1","glucose_2","glucose_3", "cardio" ]
cardio_df= cardio_df.reindex(columns=column_names)
cardio_df.head()

,Age,gender_1,gender_2,height,weight,systolic_bp,diastolic_bp,smoker,alcohol_intake,active,cholesterol_1,cholesterol_2,cholesterol_3,glucose_1,glucose_2,glucose_3,cardio
0,51,1,0,171,29.0,110.0,70.0,0,0,1,0,1,0,1,0,0,1
1,49,1,0,160,30.0,120.0,80.0,0,0,1,1,0,0,1,0,0,1
2,58,1,0,143,30.0,103.0,61.0,0,0,1,0,1,0,1,0,0,0
3,47,0,1,170,31.0,150.0,90.0,0,0,1,0,1,0,0,1,0,1
4,42,1,0,146,32.0,100.0,70.0,0,0,0,1,0,0,1,0,0,0

In [6]:
cardio_df.rename(columns = {"gender_1":"Female", "gender_2":"Male", "cardio":"cardio_diseae"}, inplace=True)

In [7]:
cardio_df.head()

,Age,Female,Male,height,weight,systolic_bp,diastolic_bp,smoker,alcohol_intake,active,cholesterol_1,cholesterol_2,cholesterol_3,glucose_1,glucose_2,glucose_3,cardio_diseae
0,51,1,0,171,29.0,110.0,70.0,0,0,1,0,1,0,1,0,0,1
1,49,1,0,160,30.0,120.0,80.0,0,0,1,1,0,0,1,0,0,1
2,58,1,0,143,30.0,103.0,61.0,0,0,1,0,1,0,1,0,0,0
3,47,0,1,170,31.0,150.0,90.0,0,0,1,0,1,0,0,1,0,1
4,42,1,0,146,32.0,100.0,70.0,0,0,0,1,0,0,1,0,0,0

In [8]:
cardio_df.shape

(68297, 17)