In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import db_password
from sqlalchemy import inspect

In [2]:
from sqlalchemy import create_engine
#db_string = f"postgresql://postgresRDS:{db_password}@be-heart-smart.cy6j2bmyzt6p.us-east-2.rds.amazonaws.com:5432/be-heart-smart"
#engine = create_engine(db_string)
#con = engine.connect()

In [3]:
#cardio_df = pd.read_sql("Select * From final_cardio_combined", con)

In [4]:
cardio_df=pd.read_csv("final_cardio_combined.csv")

In [5]:
cardio_df.head()

,tbl_id,age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease,bmi,weight_status,obesity_status
0,26503,49,1,160.0,30.0,120.0,80.0,1,1,0,0,1,1,11.7,underweight,no
1,54851,59,1,154.0,32.0,110.0,60.0,1,1,0,0,1,0,13.5,underweight,no
2,21040,62,1,143.0,34.0,100.0,70.0,1,1,0,0,1,0,16.6,underweight,no
3,47872,57,1,153.0,34.0,110.0,70.0,3,3,0,0,1,1,14.5,underweight,no
4,23318,59,1,165.0,35.0,100.0,70.0,1,1,0,0,1,0,12.9,underweight,no

In [6]:
cardio_df= cardio_df.drop(columns="tbl_id", axis=1)

In [7]:
cardio_df.head()

,age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease,bmi,weight_status,obesity_status
0,49,1,160.0,30.0,120.0,80.0,1,1,0,0,1,1,11.7,underweight,no
1,59,1,154.0,32.0,110.0,60.0,1,1,0,0,1,0,13.5,underweight,no
2,62,1,143.0,34.0,100.0,70.0,1,1,0,0,1,0,16.6,underweight,no
3,57,1,153.0,34.0,110.0,70.0,3,3,0,0,1,1,14.5,underweight,no
4,59,1,165.0,35.0,100.0,70.0,1,1,0,0,1,0,12.9,underweight,no

In [8]:
cardio_df = cardio_df.astype({"age":float, "height":float, "weight":float, "bmi":float, "systolic_bp":float, "diastolic_bp":float, "gender":int, "cholesterol":int, "glucose":int, "smoker":int, "alcohol_intake":int, "active":int,"weight_status":str,"obesity_status":str, "cardio_disease":int})
cardio_df.head()

,age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease,bmi,weight_status,obesity_status
0,49.0,1,160.0,30.0,120.0,80.0,1,1,0,0,1,1,11.7,underweight,no
1,59.0,1,154.0,32.0,110.0,60.0,1,1,0,0,1,0,13.5,underweight,no
2,62.0,1,143.0,34.0,100.0,70.0,1,1,0,0,1,0,16.6,underweight,no
3,57.0,1,153.0,34.0,110.0,70.0,3,3,0,0,1,1,14.5,underweight,no
4,59.0,1,165.0,35.0,100.0,70.0,1,1,0,0,1,0,12.9,underweight,no

In [9]:
cardio_df = cardio_df[["age","systolic_bp","diastolic_bp","obesity_status","cardio_disease"]]

In [10]:
# One-hot encode the data using pd.get_dummies
cardio_df = pd.get_dummies(cardio_df, columns =["obesity_status"], drop_first=True)
cardio_df.head()

    age  systolic_bp  diastolic_bp  cardio_disease  obesity_status_yes
0  49.0        120.0          80.0               1                   0
1  59.0        110.0          60.0               0                   0
2  62.0        100.0          70.0               0                   0
3  57.0        110.0          70.0               1                   0
4  59.0        100.0          70.0               0                   0

In [11]:
column_names = ["age","systolic_bp","diastolic_bp","obesity_status_yes","cardio_disease"]
cardio_df= cardio_df.reindex(columns=column_names)
cardio_df.head()

    age  systolic_bp  diastolic_bp  obesity_status_yes  cardio_disease
0  49.0        120.0          80.0                   0               1
1  59.0        110.0          60.0                   0               0
2  62.0        100.0          70.0                   0               0
3  57.0        110.0          70.0                   0               1
4  59.0        100.0          70.0                   0               0

In [12]:
cardio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68571 entries, 0 to 68570
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 68571 non-null  float64
 1   systolic_bp         68571 non-null  float64
 2   diastolic_bp        68571 non-null  float64
 3   obesity_status_yes  68571 non-null  uint8
 4   cardio_disease      68571 non-null  int64
dtypes: float64(3), int64(1), uint8(1)
memory usage: 2.2 MB

In [13]:
cardio_df.shape

(68571, 5)

In [14]:
# Import scikit-learn libraries for machine learning
from sklearn.model_selection import GridSearchCV, train_test_split, cross_val_score, validation_curve
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

In [26]:
# Seperate our target(output) and features (input)

#Target variable
y = cardio_df["cardio_disease"]

#Feature variables
X = cardio_df.drop(columns="cardio_disease", axis=1)

In [27]:
from collections import Counter
Counter(y)

Counter({1: 33903, 0: 34668})

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42, stratify=y)

In [29]:
from sklearn.preprocessing import StandardScaler
#X_scaler = StandardScaler().fit(X_train[[]])

# Fitting Standard Scaler
X_scaler = StandardScaler().fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:
# Create a random forest classifier model with only specifying random state.
rf_model = RandomForestClassifier(random_state=42, max_depth= 8, n_estimators=800, min_samples_leaf=2, min_samples_split=10)

In [31]:
# Train our Random forest model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [32]:
# Predict the model using the test set
y_pred = rf_model.predict(X_test_scaled)

In [33]:
# Check the accuracy score
print(accuracy_score(y_test, y_pred))

0.7242435289828655

In [34]:
# Print the confusion matrix.
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[5266 1668]
 [2114 4667]]

In [35]:
# Print the classification report
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.71      0.76      0.74      6934
           1       0.74      0.69      0.71      6781

    accuracy                           0.72     13715
   macro avg       0.73      0.72      0.72     13715
weighted avg       0.72      0.72      0.72     13715