In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from config import db_password
from sqlalchemy import inspect

In [2]:
from sqlalchemy import create_engine
db_string = f"postgresql://postgresRDS:{db_password}@be-heart-smart.cy6j2bmyzt6p.us-east-2.rds.amazonaws.com:5432/be-heart-smart"
engine = create_engine(db_string)
con = engine.connect()

In [3]:
cardio_df = pd.read_sql("Select * From cardio_cleaned", con)

In [4]:
cardio_df.head()

,id,age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease
0,86650.0,51.0,1.0,171.0,29.0,110.0,70.0,2.0,1.0,0.0,0.0,1.0,1.0
1,26503.0,49.0,1.0,160.0,30.0,120.0,80.0,1.0,1.0,0.0,0.0,1.0,1.0
2,59853.0,58.0,1.0,143.0,30.0,103.0,61.0,2.0,1.0,0.0,0.0,1.0,0.0
3,24167.0,47.0,2.0,170.0,31.0,150.0,90.0,2.0,2.0,0.0,0.0,1.0,1.0
4,31439.0,42.0,1.0,146.0,32.0,100.0,70.0,1.0,1.0,0.0,0.0,0.0,0.0

In [5]:
cardio_df= cardio_df.drop(columns="id", axis=1)

In [6]:
cardio_df.head()

,age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease
0,51.0,1.0,171.0,29.0,110.0,70.0,2.0,1.0,0.0,0.0,1.0,1.0
1,49.0,1.0,160.0,30.0,120.0,80.0,1.0,1.0,0.0,0.0,1.0,1.0
2,58.0,1.0,143.0,30.0,103.0,61.0,2.0,1.0,0.0,0.0,1.0,0.0
3,47.0,2.0,170.0,31.0,150.0,90.0,2.0,2.0,0.0,0.0,1.0,1.0
4,42.0,1.0,146.0,32.0,100.0,70.0,1.0,1.0,0.0,0.0,0.0,0.0

In [7]:
cardio_df = cardio_df.astype({"age":float, "height":float, "weight":float,"systolic_bp":float, "diastolic_bp":float, "gender":int, "cholesterol":int, "glucose":int, "smoker":int, "alcohol_intake":int, "active":int, "cardio_disease":int})
cardio_df.head()

,age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,glucose,smoker,alcohol_intake,active,cardio_disease
0,51.0,1,171.0,29.0,110.0,70.0,2,1,0,0,1,1
1,49.0,1,160.0,30.0,120.0,80.0,1,1,0,0,1,1
2,58.0,1,143.0,30.0,103.0,61.0,2,1,0,0,1,0
3,47.0,2,170.0,31.0,150.0,90.0,2,2,0,0,1,1
4,42.0,1,146.0,32.0,100.0,70.0,1,1,0,0,0,0

In [8]:
# One-hot encode the data using pd.get_dummies
cardio_df = pd.get_dummies(cardio_df, columns =["gender", "cholesterol","glucose"])
cardio_df.head()

,age,height,weight,systolic_bp,diastolic_bp,smoker,alcohol_intake,active,cardio_disease,gender_1,gender_2,cholesterol_1,cholesterol_2,cholesterol_3,glucose_1,glucose_2,glucose_3
0,51.0,171.0,29.0,110.0,70.0,0,0,1,1,1,0,0,1,0,1,0,0
1,49.0,160.0,30.0,120.0,80.0,0,0,1,1,1,0,1,0,0,1,0,0
2,58.0,143.0,30.0,103.0,61.0,0,0,1,0,1,0,0,1,0,1,0,0
3,47.0,170.0,31.0,150.0,90.0,0,0,1,1,0,1,0,1,0,0,1,0
4,42.0,146.0,32.0,100.0,70.0,0,0,0,0,1,0,1,0,0,1,0,0

In [9]:
column_names = ["age","gender_1","gender_2","height","weight","systolic_bp","diastolic_bp",
                "smoker","alcohol_intake","active","cholesterol_1","cholesterol_2",
                "cholesterol_3","glucose_1","glucose_2","glucose_3", "cardio_disease"]
cardio_df= cardio_df.reindex(columns=column_names)
cardio_df.head()

,age,gender_1,gender_2,height,weight,systolic_bp,diastolic_bp,smoker,alcohol_intake,active,cholesterol_1,cholesterol_2,cholesterol_3,glucose_1,glucose_2,glucose_3,cardio_disease
0,51.0,1,0,171.0,29.0,110.0,70.0,0,0,1,0,1,0,1,0,0,1
1,49.0,1,0,160.0,30.0,120.0,80.0,0,0,1,1,0,0,1,0,0,1
2,58.0,1,0,143.0,30.0,103.0,61.0,0,0,1,0,1,0,1,0,0,0
3,47.0,0,1,170.0,31.0,150.0,90.0,0,0,1,0,1,0,0,1,0,1
4,42.0,1,0,146.0,32.0,100.0,70.0,0,0,0,1,0,0,1,0,0,0

In [10]:
cardio_df.rename(columns = {"gender_1":"female", "gender_2":"male","cholesterol_1":"cholesterol_normal", 
                            "cholesterol_2":"cholesterol_moderate", "cholesterol_3":"cholesterol_high", 
                            "glucose_1":"glucose_normal","glucose_2":"glucose_moderate","glucose_3":"glucose_high", "cardio_disease":"cardio_disease"}, inplace=True)

In [11]:
cardio_df.head()

,age,female,male,height,weight,systolic_bp,diastolic_bp,smoker,alcohol_intake,active,cholesterol_normal,cholesterol_moderate,cholesterol_high,glucose_normal,glucose_moderate,glucose_high,cardio_disease
0,51.0,1,0,171.0,29.0,110.0,70.0,0,0,1,0,1,0,1,0,0,1
1,49.0,1,0,160.0,30.0,120.0,80.0,0,0,1,1,0,0,1,0,0,1
2,58.0,1,0,143.0,30.0,103.0,61.0,0,0,1,0,1,0,1,0,0,0
3,47.0,0,1,170.0,31.0,150.0,90.0,0,0,1,0,1,0,0,1,0,1
4,42.0,1,0,146.0,32.0,100.0,70.0,0,0,0,1,0,0,1,0,0,0

In [17]:
cardio_df = cardio_df.drop(["female", "male", "smoker","alcohol_intake", "active", "cholesterol_normal", "cholesterol_moderate", "cholesterol_high", "glucose_normal", "glucose_moderate", "glucose_high"], axis=1)

In [18]:
cardio_df.head()

    age  height  weight  systolic_bp  diastolic_bp  cardio_disease
0  51.0   171.0    29.0        110.0          70.0               1
1  49.0   160.0    30.0        120.0          80.0               1
2  58.0   143.0    30.0        103.0          61.0               0
3  47.0   170.0    31.0        150.0          90.0               1
4  42.0   146.0    32.0        100.0          70.0               0

In [19]:
cardio_df.shape

(68297, 6)

In [20]:
# Import scikit-learn libraries for machine learning
from sklearn.model_selection import GridSearchCV, train_test_split, cross_val_score, validation_curve
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

In [21]:
# Seperate our target(output) and features (input)

#Target variable
y = cardio_df["cardio_disease"]

#Feature variables
X = cardio_df.drop(columns="cardio_disease", axis=1)

In [22]:
from collections import Counter
Counter(y)

Counter({1: 33689, 0: 34608})

In [23]:
# Split the data into training and testing sets. The ratio 80:20.


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

print(X_train.shape), print(y_train.shape)

print(X_test.shape), print(y_test.shape)

(54637, 5)
(54637,)
(13660, 5)
(13660,)

(None, None)

In [24]:
from sklearn.preprocessing import StandardScaler

#X_scaler = StandardScaler().fit(X_train[[]])

# Fitting Standard Scaler
X_scaler = StandardScaler().fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
y_train[:5]

41019    1
24454    0
18987    0
7514     1
44419    1
Name: cardio_disease, dtype: int64

In [26]:
# Create a random forest classifier model with only specifying random state.
rf_model = RandomForestClassifier(random_state=42)

In [27]:
# Train our Random forest model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [28]:
# Predict the model using the validation dataset: X_valid_scaled
#y_pred = rf_model.predict(X_valid_scaled)

In [29]:
y_pred = rf_model.predict(X_train_scaled)

In [30]:
accuracy_score(y_train, y_pred)

0.9424565770448597

In [31]:
# Check the accuracy score
#print(accuracy_score(y_valid, y_pred))

In [32]:
#print(f'Training Score: {rf_model.score(X_train_scaled, y_train)}')

In [33]:
# Cross-validate the model using k-fold coross-validation, where k=10. 
rf_model_cv_score= cross_val_score(rf_model, X, y, cv = 10, scoring = 'roc_auc')

In [34]:
# Print the ROC-AUC scores.
print(rf_model_cv_score)

[0.66087817 0.24482816 0.37542762 0.61819722 0.64714112 0.68092189
 0.66365533 0.64511918 0.67607238 0.64421496]

In [35]:
# Get the mean ROC-AUC score for the 10 folds.
print(rf_model_cv_score.mean())

0.5856456035045066

In [36]:
# Print the confusion matrix.
#matrix = confusion_matrix(y_valid, y_pred)
#print(matrix)

In [37]:
# Print the classification report
#report = classification_report(y_valid, y_pred)
#print(report)

In [47]:
# Hypertune the model

In [40]:
# Let's check which parameters were used in our RandomForest model
from pprint import pprint

pprint(rf_model.get_params())

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [ ]:
#n_estimators = [100, 300, 500, 800, 1200]
#max_depth = [5, 8, 15, 25, 30]
#min_samples_split = [2, 5, 10, 15, 100]
#min_samples_leaf = [1, 2, 5, 10] 

#hyperF = dict(n_estimators = n_estimators, max_depth = max_depth,  
           #   min_samples_split = min_samples_split, 
            # min_samples_leaf = min_samples_leaf)

#gridF = GridSearchCV(forest, hyperF, cv = 3, verbose = 1, n_jobs = -1)
#bestF = gridF.fit(x_train, y_train)

In [42]:
n_estimators = [300, 800]
max_depth = [5, 8]
#min_samples_split = [2, 5]
#min_samples_leaf = [1, 2, 5] 

hyperRF = dict(n_estimators = n_estimators, max_depth = max_depth)

gridRF = GridSearchCV(rf_model, hyperRF, cv = 10, verbose = 1, 
                      n_jobs = -1)
bestRF = gridRF.fit(X_train_scaled, y_train)

Fitting 10 folds for each of 4 candidates, totalling 40 fits

In [41]:
bestRF.cv_results_

NameError: name 'bestRF' is not defined

In [51]:
df_results1= pd.DataFrame(gridRF.cv_results_)
df_results1

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,5.097817,0.041692,0.141588,0.008883,5,300,"{'max_depth': 5, 'n_estimators': 300}",0.714816,0.718134,0.715150,0.719836,0.711050,0.722765,0.718079,0.714565,0.716322,0.721593,0.717231,0.003380,4
1,13.716888,0.127660,0.362176,0.011854,5,800,"{'max_depth': 5, 'n_estimators': 800}",0.717158,0.720671,0.715736,0.720812,0.712027,0.723350,0.717884,0.716322,0.716322,0.721984,0.718227,0.003259,3
2,6.639512,0.038601,0.182929,0.012197,8,300,"{'max_depth': 8, 'n_estimators': 300}",0.723209,0.720867,0.712612,0.722765,0.719446,0.730379,0.720422,0.715736,0.721203,0.726084,0.721272,0.004711,2
3,17.532823,2.380822,0.460952,0.071094,8,800,"{'max_depth': 8, 'n_estimators': 800}",0.724380,0.721452,0.713198,0.722569,0.720031,0.730184,0.721593,0.716322,0.721398,0.727645,0.721877,0.004681,1

In [52]:
bestRF.best_params_

{'max_depth': 8, 'n_estimators': 800}

In [53]:
bestRF.best_score_

0.721877277771964

In [54]:
df_results1=df_results1[["param_max_depth", "param_n_estimators", "mean_test_score"]]
df_results1.sort_values(["mean_test_score"], ascending=False)

  param_max_depth param_n_estimators  mean_test_score
3               8                800         0.721877
2               8                300         0.721272
1               5                800         0.718227
0               5                300         0.717231

In [55]:
# Based on the results of the grid search, we plug in the best parameters and rerun the validation set.
rf_model = RandomForestClassifier(random_state=42, max_depth= 8, n_estimators=800)

In [56]:
# Train our Random forest model with new hyperparameters
rf_model = rf_model.fit(X_selected_train_scaled, y_train)

In [57]:
print(f'Training Score: {rf_model.score(X_selected_train_scaled, y_train)}')

Training Score: 0.7307992659404162

In [58]:
# Predict the model using the validation dataset: X_selected_valid_scaled
y_pred = rf_model.predict(X_selected_test_scaled)

In [59]:
# Check the accuracy score
print(accuracy_score(y_test, y_pred))

0.726207906295754

In [60]:
# Cross-validate the model using k-fold coross-validation, where k=10. 
rf_model_cv_score= cross_val_score(rf_model, X, y, cv = 10, scoring = 'roc_auc')

In [61]:
# Print the ROC-AUC scores.
print(rf_model_cv_score)

[0.80776445 0.75264995 0.72506938 0.77248069 0.81227174 0.76826053
 0.7987406  0.78104015 0.77899258 0.79631756]

In [62]:
# Get the mean ROC-AUC score for the 10 folds.
print(rf_model_cv_score.mean())

0.7793587633303104

In [65]:
# Print the confusion matrix.
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[6731 1981]
 [2694 5669]]

In [64]:
# Print the classification report
report = classification_report(y_valid, y_pred)
print(report)

NameError: name 'y_valid' is not defined

In [ ]:
# Grid search #2 with different hyperparameters
n_estimators = [800, 1000]
max_depth = [8, 10]
min_samples_split = [5, 10]
min_samples_leaf = [1, 2, 5] 

hyperRF = dict(n_estimators = n_estimators, max_depth = max_depth,  
              min_samples_split = min_samples_split, 
             min_samples_leaf = min_samples_leaf)

gridRF = GridSearchCV(rf_model, hyperRF, cv = 5, verbose = 1, 
                      n_jobs = -1)
bestRF = gridRF.fit(X_selected_train_scaled, y_train)

In [ ]:
bestRF.best_params_

In [ ]:
bestRF.best_score_

In [ ]:
bestRF.cv_results_

In [ ]:
df_results2= pd.DataFrame(gridRF.cv_results_)
df_results2

In [ ]:
df_results2=df_results2[["param_max_depth", "param_n_estimators","param_min_samples_leaf", "param_min_samples_split", "mean_test_score"]]
df_results2=df_results2.sort_values(["mean_test_score"], ascending=False)
df_results2.head()

In [ ]:
# Based on the results of the grid search, we plug in the best parameters and rerun the validation set.
rf_model = RandomForestClassifier(random_state=42, max_depth= 10, n_estimators=800, min_samples_leaf=5, min_samples_split=5)

In [ ]:
# Train our Random forest model with new hyperparameters
rf_model = rf_model.fit(X_selected_train_scaled, y_train)

In [ ]:
print(f'Training Score: {rf_model.score(X_selected_train_scaled, y_train)}')

In [ ]:
# Predict the model using the validation dataset: X_selected_valid_scaled
y_pred = rf_model.predict(X_selected_valid_scaled)

In [ ]:
# Check the accuracy score
print(accuracy_score(y_valid, y_pred))

In [ ]:
# Cross-validate the model using k-fold cross-validation, where k=10. 
rf_model_cv_score= cross_val_score(rf_model, X, y, cv = 10, scoring = 'roc_auc')

In [ ]:
# Print the ROC-AUC scores.
print(rf_model_cv_score)

In [ ]:
# Get the mean ROC-AUC score for the 10 folds.
print(rf_model_cv_score.mean())

In [ ]:
# Print the confusion matrix.
matrix = confusion_matrix(y_valid, y_pred)
print(matrix)

In [ ]:
# Print the classification report
report = classification_report(y_valid, y_pred)
print(report)

In [ ]:
# Most common used hyperparameters: (https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74)
#n_estimators = number of trees in the forest
#max_features = max number of features considered for splitting a node
#max_depth = max number of levels in each decision tree
#min_samples_split = min number of data points placed in a node before the node is split
#min_samples_leaf = min number of data points allowed in a leaf node
#bootstrap = method for sampling data points (with or without replacement)